.shop__image {
  background: #f6f6f6;
  margin: 0;
  width: 100%;
  position: relative;
}
.shop__image > figure {
  min-height: 228px;
  background: #f6f6f6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.shop__imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.shop__imgwrap > picture > img {
  object-fit: cover;
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}

.shop__spacer {
  background: transparent;
  min-height: 228px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.shop__spacer > .first {
  flex-basis: 32px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
}

.shop__spacer > .second {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.shop__infos {
  min-height: 80px;
  flex-basis: auto;
  display: flex;
  justify-content: space-between;
}

.shop__infos > .title {
  padding: 24px 0 16px;
  z-index: 1;
  color: white;
}

.shop__infos > .title > h1 {
  line-height: 36px;
  font-size: 28px;
  padding: 0 16px;
}

.shop__infos > .title > .infos {
  padding: 12px 16px 0 16px;
  line-height: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.shop__category {
  border-bottom: 2px solid #e2e2e2;
  padding: 16px 16px;
}

.shop__category > .category {
  padding-bottom: 8px;
  line-height: 28px;
  font-size: 14px;
}

.shop__category > .category > a {
  text-decoration: none;
  color: inherit;
}

.shop__category > .category > span {
  display: inline-flex;
  color: #545454;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
}

.shop__category > .adresse {
  line-height: 20px;
  font-size: 14px;
}

.products {
  display: block;
  padding: 0 26px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  display: block;
}

.products__header {
  padding-top: 24px;
}
.products__header > li {
  padding: 16px 0;
}
.products__header > li > h2 {
  line-height: 28px;
  font-size: 20px;
  padding-bottom: 24px;
}

.products__list {
  margin-bottom: 16px;
}

.products__list > li {
  overflow: hidden;
}
.products__list > li > div {
  text-decoration: none;
}

.products__list > li > div > .first {
  border-top: 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid #e2e2e2;
}

.products__list .second {
  display: flex;
}
.products__list .third {
  flex: 1;
}
.products__list .fourth {
  display: block;
}
.products__list .fourth > h4 {
  line-height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.product__price {
  padding-top: 8px;
  display: flex;
}
.product__price > div {
  line-height: 20px;
  font-size: 14px;
}
.product__img {
  width: 96px;
  height: 88px;
  flex-shrink: 0;
  display: flex;
}

.product__img > picture > img {
  outline-offset: -1px;
  outline: rgba(0, 0, 0, 0.03) solid 1px;
  width: 88px;
  height: 88px;
  opacity: 1;
  object-fit: cover;
}
