.populaire {
    padding-bottom: 24px;
}

.populaire__title {
    display: flex;
    flex: 1;
    line-height: 32px;
    font-size: 24px;
}

.populaire__list {
    margin: 0px -16px;
    overflow-x: scroll;
    padding: 16px 0px;
    align-self: flex-start;
    display: flex;
}

.populaire__item {
    margin: 0px 6px;
    flex-basis: calc(85vw - 16px);
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 0;
    background-color: #fff;
}

.populaire__item > figure {
    background: rgb(246,246,246);
    height: 128px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.populaire__item__imgwrap {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;

}

.item__figure__imgwrap > picture > img {
    object-fit: cover;
    border: none;
    height: 100%;
    width: 100%;
  }