.filteringcomponent__nav {
  overflow-x: auto;
  padding: 8px 0px;
  display: flex;
}
.filteringcomponent__nav::-webkit-scrollbar {
  display: none;
}

.filteringcomponent__ul {
  padding: 0px 8px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.filteringcomponent__li {
  width: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.filteringcomponent__imgwrap {
  height: 60px;
  width: 60px;
  position: relative;
}
.filteringcomponent__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.filteringcomponent__span {
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
